@font-face {
    font-family: "Catamaran";
    src: url("/fonts/Catamaran/Catamaran-Regular.ttf");
}

@font-face {
    font-family: "Catamaran Bold";
    src: url("/fonts/Catamaran/Catamaran-Bold.ttf");
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: "Catamaran", monospace;
}

a, button {
    font-family: "Catamaran Bold", monospace;
}

